<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Maquetacion 1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="app.component.html">
  </head>
  <body>
    <div id="contenedor">
    <div class="Encabezado"> <h1>Encabezado</h1></div>
    <div class="Titulo"><h1>Titulo</h1></div>
    <div id="contenido">
      <div class="contenidogabriel"><h1>Contenido</h1>
        <article class="articulo">Articulo1</article>
        <article class="articulo">Articulo2</article>
        <article class="articulo">Articulo3</article>
      </div>
    </div>
    <div class="Pie"><h1>Pie Pagina</h1></div>
    </div>
  </body>
</html>
<router-outlet></router-outlet>
